body{
    background-color: black;
    
}
h1{
    color: white;
    
    
}
h6{
    font-size: 12px;
    color: white;
    text-align: center;
}
            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: black;
            }

            li {
              float: left;
              border-right:1px solid #bbb;
            }

            li:last-child {
              border-right: none;
            }

            li a {
              display: block;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
            }

            li a:hover:not(.active) {
              background-color: #111;
            }

            .active {
              background-color: #4CAF50;
            }
            
            td {
                width: 350px;
                height: 50px;
                text-align: center;
                border: 1px solid white;
                padding: 5px;
            }
            
            table{ 
              border-collapse:separate; 
              border-spacing: 20px 0; 
            } 

input[type=text] {
    height: 40px;
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 1050px;
}